<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()">
  <p>Form Status: {{ doctorForm.status }}</p>
  
    <label for="name">Name: </label>
    <p><input id="name"  pattern="[a-zA-Z ]*"  type="text"  formControlName="name" /></p>
    

    <label for="specialization">Specialization: </label>
    <p><input id="specialization" type="text" formControlName="specialization" /></p>

    <label for="description">Description: </label>
    <p><textarea id="description" formControlName="description" name="" id="" cols="30" rows="10"></textarea></p>

    <div class="age"><label for="age">Age: </label>
    <p><input id="age" type="number" min="10" max="100" formControlName="age" /></p>
  </div>
  
 

  <button type="submit" [disabled]="!doctorForm.valid">Save</button>
</form>

