<div *ngIf="appoitments">
  <table mat-table [dataSource]="appoitments" class="mat-elevation-z8">
    
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let element">{{ element.gender }}</td>
    </ng-container>

    <!-- Picker Column -->
    <ng-container matColumnDef="picker">
      <th mat-header-cell *matHeaderCellDef>Picker</th>
      <td mat-cell *matCellDef="let element">{{ element.picker | date }}</td>
    </ng-container>

    <!-- Comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Comment</th>
      <td mat-cell *matCellDef="let element">{{ element.comment }}</td>
    </ng-container>

    <!-- Doctor Column -->

    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef>Doctor</th>
      <td mat-cell *matCellDef="let element">
        {{ element.doctor ? element.doctor.name : "-" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-button
          class="false"
          title="Delete"
          (click)="openConfirm('0ms', '0ms', element._id)"
        >
          <i class="fa-solid fa-trash-can"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
