@font-face {
    font-family: 'tiro.woff2';
    src: url('/src/assets/tiro.woff2');
}
 h1 {
    font-family: 'tiro.woff2';
 }   

nav {
    margin-bottom: 25px;
}
nav ul li a {
list-style-type: none;
font-family: 'tiro.woff2';
font-size: 20px;
color: rgb(57, 58, 58);
}