@font-face {
  font-family: "tiro.woff2";
  src: url("/assets/tiro.woff2");
}
h1 {
  font-family: "tiro.woff2";
}

nav {
  margin-bottom: 25px;
}
nav ul li a {
  font-family: "tiro.woff2";
  font-size: 20px;
  text-decoration: underline; /*???????????/*/
}

