

@font-face {
  font-family: "tiro.woff2";
  src: url("/assets/tiro.woff2");
}
header {
  background-color: black;
  display: flex;

  .title {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding: 15px;

    a {
      text-decoration: none;

      h1 {
        font-family: "tiro.woff2";
        color: #fda95b;
      }
    }

    img {
      width: 50px;
      height: 50px;
      padding: 20px;
    }
  }

  nav .links {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 15px;
  }
  nav .links p a {
    font-family: "tiro.woff2";
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 50px;
  }
  nav .links p a:hover {
    text-decoration: underline;
    color: #fda95b;
  }
}

