<div class="container">
  <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog</button>
</div>
<div class="cards">
  <mat-card class="card" *ngFor="let doctor of doctors">
    <mat-card-title-group>
      <mat-card-title>
        <a routerLink="/detail/{{ doctor.id }}">
          {{doctor.name}}
        </a>
      </mat-card-title>
      <mat-card-subtitle>{{ doctor.specialization }}</mat-card-subtitle>
      <img mat-card-sm-image src="{{ doctor.img }}" />
    </mat-card-title-group>
    <mat-card-content>
      <p>
        {{ doctor.description }}
      </p>
    </mat-card-content>
  </mat-card>
</div>


