<div class="container">
  <button mat-raised-button class="main" (click)="openDialog('0ms', '0ms')">
    Add Doctor
  </button>
</div>
<div class="cards">
  <mat-card
    class="card"
    *ngFor="let doctor of doctors$ | async | slice: show:end"
  >
    <a [routerLink]="['/appointment']" [queryParams]="{ doctorId: doctor._id }"
      ><mat-card-title-group>
        <mat-card-title>{{ doctor.name }}</mat-card-title>
        <mat-card-subtitle>{{ doctor.specialization }}</mat-card-subtitle>
        <img mat-card-sm-image [src]="doctor.img" />
      </mat-card-title-group>
      <mat-card-content>
        <p>
          {{ doctor.description }}
        </p>
      </mat-card-content>
      <mat-card-content>
        <p>{{ doctor.age }} <span>&nbsp; y. o.</span></p>
      </mat-card-content>
      <mat-card-actions align="end"> </mat-card-actions>
    </a>
    <mat-card-actions align="end">
      <button
        class="true"
        mat-button
        title="Edit"
        (click)="openDialog('0ms', '0ms', doctor)"
      >
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
      <button
        class="false"
        mat-button
        title="Delete"
        (click)="openConfirm('0ms', '0ms', doctor._id)"
      >
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<button
  mat-raised-button
  class="main"
  type="button"
  [disabled]="hideButtonNext"
  (click)="showMoreDoctors()"
>
  Next doctors
</button>
