.cards {
  display: grid;
  font-size: 0;
  grid-template-columns: 25% 25% 25% 25%;
  
  @media screen and (max-width: 1024px) {
    grid-template-columns: 50% 50%;
  }
}

.cards .card {
  flex-grow: 1;
  margin: 10px;
}
.cards .card a {
  text-decoration: none;
  color: #474444;
}

.card:hover {
  border: 2px solid orange;
}
.card p {
  color: #474444;
}
.card .name {
  font-weight: bold;
  color: #474444;
}

button {
  margin-left: auto;
  margin-right: 0;
  display: block;
  margin-bottom: 10px;
}
.mat-fab.mat-primary {
  color: #474444;
}
.mat-button.mat-primary:hover {
  color: white;
  background: #474444;
}
.mat-raised-button {
  background: white;
  color: #474444;
}
.mat-raised-button:hover {
  color: white;
  background: #474444;
}
.mat-card-actions {
  display: flex;
}
.mat-button {
  color: #474444;
}
.mat-button:hover {
  background: #474444;
  color: white;
}
.mat-card-sm-image {
  width: 80px;
  height: auto;
}
