.card {
    flex-basis: 30%;
    
}
.card img {
    width: 200px;
    margin: auto;
    padding: 15px;
}
.card:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s
}
.card p {
    color: #474444;
    padding: 10px;
}
.card .name {
    font-weight: bold;
    color: #474444;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
