.cards {
  display: grid;
  font-size: 0;
  grid-template-columns: 25% 25% 25% 25%;
  
  @media screen and (max-width: 1024px) {
    grid-template-columns: 50% 50%;
  }
}

.cards .card {
  flex-grow: 1;
  margin: 10px;
}
.cards .card a {
  text-decoration: none;
  color: black;
}

.card:hover {
  border: 2px solid #fda95b;
}
.card p {
  color: black;
}
.card .name {
  font-weight: bold;
  color: black;
}
.main {
  margin: auto;
  display: block;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main:hover {
  background: #fda95b;
  color: white;
}
.mat-card-actions {
  display: flex;
  justify-content: space-between;
}