.container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;

  form,
  app-card-doctor {
    width: 50%;
    margin: 10px;
  }
  form {
    padding: 10px;
    border: 2px solid #fda95b;
  }
  input,
  textarea,
  select,
  mat-form-field {
    width: 100%;
    box-sizing: border-box;
  }
}

.snackbar {
  text-align: center;

  span {
    color: whitesmoke;
  }

  .fa-solid {
    color: green;
    padding: 5px;
  }
}
a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.app :disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
.app:hover {
  background: #fda95b;
  color: white;
}
