input, textarea, select, mat-form-field{
    width: 60%;
    box-sizing: border-box;
}

.snackbar {
    text-align: center;
}
.snackbar span {
    color: whitesmoke;
}
.snackbar .fa-solid {
    color: green;
    padding: 5px;
}
