.container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    margin: auto;

    form, app-card-doctor {
        width: 50%;
        margin: 10px;
    }
    form {
        border: 1px solid gray;
        padding: 10px;
        
    }
    input, textarea, select, mat-form-field{
       width: 100%;
        box-sizing: border-box;
    }
}

.snackbar {
    text-align: center;

    span {
        color: whitesmoke;
    }

    .fa-solid {
        color: green;
        padding: 5px;
    }
}
a {
  color: #474444; 
  font-size: 20px;
  text-decoration: none;
}
a:hover {
    text-decoration: underline;
}