<div class="container">
  <form [formGroup]="doctorForm" (ngSubmit)="onSubmit(doctorForm)" class="form">
    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Name:</mat-label>
        <input
          type="text"
          pattern="[a-zA-Z ]*"
          matInput
          formControlName="name"
        />
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Choose a doctor</mat-label>
        <mat-select formControlName="doctor" [(ngModel)]="selectedDoctor">
          <mat-option *ngFor="let doctor of doctors$ | async" [value]="doctor">
            {{ doctor.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Gender:</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ gender.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="picker" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Comment</mat-label>
        <textarea
          id="comment"
          matInput
          formControlName="comment"
          name=""
          id=""
          cols="30"
          rows="10"
        ></textarea>
      </mat-form-field>
    </p>

    <button
      type="submit"
      [disabled]="!doctorForm.valid"
      mat-stroked-button
      (click)="openSnackBar(snackBarTempl)"
    >
      Appoitment
    </button>
    <ng-template #snackBarTempl>
      <div class="snackbar">
        <span>completed successfully</span>
        <i class="fa-solid fa-check"></i>
      </div>
    </ng-template>
  </form>

  <app-card-doctor [doctor]="selectedDoctor"></app-card-doctor>
</div>

