/* Application-wide Styles */
h1 {
  color: rgb(57, 58, 58);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

body {
  margin: 0;
}
body,
input[type="text"] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* everywhere else */
* {
  font-family: "tiro.woff2";
}
.true {
  color: black;
}
.true:hover {
  background: #fda95b;
  color: white;
}
.false {
  color: #fda95b;
}
.false:hover {
  background: #fda95b;
  color: white;
}
.main {
  margin: auto;
  color: black;
}
.main:hover {
  background: #fda95b;
  color: white;
}
