/* Application-wide Styles */
h1 {
  
  text-align: center;
}

body {
  margin: 0;
}

/* everywhere else */
* {
  font-family: "tiro.woff2";
}
button {
  transition: 0.35s;
}
.true {
  color: black;
}
.true:hover:not([disabled="true"]) {
  background: black;
  color: white !important;
}

.false:hover {
  background: #f44336;
  color: white  ;
}

